.template-header{
    background-image: url(../../images/partitura-fundo.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.content-header{
    height: 100vh;
    background-color: rgba(67, 117, 126, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
}