.acessibilidade-header{
    height: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.acessibilidade-atalhos{
    display: flex;
    flex-direction: column;
}

.template-header{
    background-image: url(../../images/partitura-fundo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

.content-header{
    height: 100vh;
    background-color: rgba(67, 117, 126, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bgNav-header{
    background-color: #ACA2A5;
    color: #342B31;
}