.app-main {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content{
    display: grid;
    grid-template-columns: 20px auto 20px 20px;
    grid-template-rows: auto auto;
}

.cards-main {
  
  padding: 30px;
  
}
